body {
  background-image: url("images/grass.png");
}
#highscore-name {
  position: relative;
  top: 430px;
  left: 450px;
  border: none;
}

#game {
  height: 906px;
  width: 1280px;
  float:left;
}

#chrome_warning{
  margin: auto;
  border: 3px solid darkRed;
  background-color: white;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  display:none;
  position: absolute;
  top: 460px;
  left: 140px;
  font-size: 30px;
}

/**
OPTIONS STYLE
**/
div.hide {
  display: none;
  z-index: -1;
}
#options_wrapper {
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 460px;
}

input.option {
  width: 45px;
}

#debug {
  width: 720px;
  float:left;
}

#debug .fill{
  background-color:green;
  width:18px;
  float:left;
}

#debug .empty{
  background-color:white;
  width:18px;
  float:left;
}

#debug .robert{
  background-color:gray;
  width:18px;
  float:left;
}



